{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Gabriela Barrera Angel">
    <meta property="og:description" content="Presentación - Gabriela Barrera Ángel">
    <meta property="og:image" content="{% static 'img/preview.png' %}">
    <meta property="og:url" content="https://dev.gbarrera817.web.app/">


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.jpg' %}"/>
    <title>{% block head_title %}base{% endblock head_title %}</title>
  </head>

  <body>
    {% block content %}
    
    {% endblock content %}

    <!-- Footer -->
    <section id="footer">
      <div class="footer container">
        <div class="brand"><h1><span>G</span>ABRIELA <span>B</span>ARRERA</h1></div>
        <h2></h2>
        <div class="social-icon">
        <h2>hola</h2>
          <div class="social-item">
            
          </div>
          <div class="social-item">
            <a href="https://www.linkedin.com/in/gabriela-barrera-angel/"><img src="{% static 'img/linkedin.png' %}"/></a>
          </div>
          <div class="social-item">
            <a href="https://github.com/GBarrera817"><img src="{% static 'img/github.png' %}"/></a>
          </div>
          <div class="social-item">

          </div>
        </div>

      </div>
    </section>
    <!-- End Footer -->
    
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>